<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="static/faticon.png" />
    <link rel="stylesheet" href="static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DTech</title>
  </head>
  <body style="background-color:#211c21;">
    <nav>
      <a href="/" class="logo">Dtech</a>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about.html">About</a></li>
      </ul>
    </nav>
    <div class="container">
     <p>Welcome to our project website dedicated to the accurate and efficient detection of Choroidal Neovascularization (CNV) using cutting-edge deep learning technology. At the intersection of medical imaging and artificial intelligence, our mission is to revolutionize the early diagnosis and management of CNV, a severe eye condition that can lead to vision loss if left untreated.</p>
     <br>
     <p><span class="steps">Our Vision</span>
     <br>Our vision is a world where individuals at risk of CNV can receive early intervention, preserving their precious eyesight and quality of life. Through the power of deep learning, we aim to provide a reliable and accessible tool for ophthalmologists, healthcare professionals, and patients alike to detect CNV at its earliest stages.</p>
     <br>
     <div class="cnv">
        <div class="content">
         <p><span class="steps">Why CNV Matters</span>
         <br>Choroidal neovascularization is a condition characterized by the growth of abnormal blood vessels beneath the retina. It is a common complication of age-related macular degeneration (AMD) and other retinal diseases, leading to vision impairment or blindness if not identified and treated promptly. Early detection is crucial for effective management and better patient outcomes.</p>
         <br><p><span class="steps">Our Approach</span>
         <br>Our project leverages state-of-the-art deep learning algorithms to analyze Optical Coherence Tomography (OCT) images. OCT is a non-invasive imaging technique that provides high-resolution cross-sectional images of the retina. By training our deep learning models on a diverse dataset of OCT images, we've developed a robust system capable of identifying CNV with exceptional accuracy.</p>
        </div>
        <div>
         <img src="static/cnv.jpg" class="cnvimage">
        </div>
     </div>
      <br>
      <p>How Our Website Works
       <ol>
         <li><span class="steps">Upload OCT Images:</span> Users can easily upload their OCT images through our user-friendly interface. Simply select the image you wish to analyze and upload it to our platform.
         </li>
         <li><span class="steps">Image Preprocessing:</span> Once uploaded, our system preprocesses the OCT image to enhance its quality and prepare it for analysis.
         </li>
         <li><span class="steps">Deep Learning Analysis:</span> The heart of our system lies in our advanced deep learning model, which carefully examines the OCT image to detect the presence of CNV. Our model has been trained on a vast dataset to ensure precise results.
         </li>
         <li><span class="steps">Instant Results:</span> Within seconds, users will receive a detailed report indicating whether the OCT image shows signs of CNV or not. This report can be a vital resource for ophthalmologists and patients in making informed decisions about their eye health.
         </li>
       </ol>
      </p> 
   </div>   
  </body>
</html>
